.nav-btn{
    border-color: rgb(255, 98, 0);
    color: rgb(255, 98, 0);
}

.nav-btn:hover{
    color: #fff;
    background: rgb(255, 81, 0);
}

.nav-loginBtn{
    color: rgb(255, 98, 0);
    border-color: rgb(255, 98, 0);
}


.nav-loginBtn:hover{
    color: #fff;
    background-color: rgb(255, 81, 0);
}